In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

In [ ]:
import mysql.connector
import pandas as pd

# MySQL 데이터베이스 연결 설정
connection = mysql.connector.connect(
    host="RDS주소",
    user="username",
    password="password",
    database="table"
)

cursor = connection.cursor()

# # 엑셀 파일 경로
# file_path = '/content/작업하는 곳.xlsx'
file_path = '/content/null3_완료.csv'

# 엑셀 파일 읽기
excel_data = pd.read_excel(file_path)

# # 2행부터 3473행까지 추출
# extracted_data = excel_data.iloc[1:3473]
extracted_data = excel_data.iloc[1:60]

# NaN 값을 None으로 변환 (MySQL에서 처리 가능)
extracted_data = extracted_data.where(pd.notnull(extracted_data), None)

# 필요한 컬럼만 추출하여 데이터 리스트로 변환
# data_to_insert = extracted_data[['anime_title', 'anime_title_kr', 'description', 'description_kr']].values.tolist()
data_to_insert = extracted_data[['anime_title', 'anime_title_ko']].values.tolist()

# 데이터 삽입 쿼리
# insert_query = """
# UPDATE Anime
# SET anime_title_ko = %s, description_ko = %s
# WHERE anime_title = %s;
# """
insert_query = """
UPDATE Anime
SET anime_title_ko = %s
WHERE anime_title = %s;
"""

# 데이터를 MySQL에 삽입 (anime_title이 일치하는 경우에만 title_ko와 description_ko 업데이트)
# for row in data_to_insert:
#     anime_title, anime_title_ko, description, description_ko = row
#     cursor.execute(insert_query, (anime_title_ko, description_ko, anime_title))
for row in data_to_insert:
    anime_title, anime_title_ko = row
    cursor.execute(insert_query, (anime_title_ko, anime_title))

# 변경 사항 커밋
connection.commit()

# 연결 종료
cursor.close()
connection.close()

print("데이터 삽입 완료.")

ValueError: Excel file format cannot be determined, you must specify an engine manually.